.fw-bolder {
    font-weight: 600!important;
}

.fw-bold {
    font-weight: 500!important;
}

.text-gray-400 {
    color: #b5b5c3!important;
}

.text-gray-600 {
    color: #777780 !important;
}

.font-style-italic {
    font-style: italic;
}

.callAction {
    background-color: #4a5568;
    border: solid 1px #2f3642;
    color: white;
    border-radius: 5px;
    padding: 16px;
}

/* Commentaire */

.comment_area {
    margin: 0;
    padding-right: 0;
}

.comment_area_header {
    margin-top: 0;
    padding: 4px;
}

.comment_container {
    margin-top: 19px;
}



