.owl-item-content {
  height: 450px;
  background-position-y: center !important;
}

.owl-carousel .owl-stage-outer {
  border: solid 1px;
  border-radius: 10px;
}

.item-content {
  width: 75%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-top: 83px;
}

.item-img-container .img-responsive {
  border-radius: 10px;
}

.item-text-container .title {
  font-size: 40px;
  font-weight: bold;
  line-height: 2;
}

.item-text-container .subtitle {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 24px;
}

#big .item {
  background: #ec6e46;
  padding: 120px 0px;
  margin: 2px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

#thumbs .item {
  background: #C9C9C9;
  height: 70px;
  line-height: 70px;
  padding: 0px;
  margin: 2px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

#thumbs .item h1 {
  font-size: 18px;
}

#thumbs .current .item {
  background: #FF5722;
}

.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}

.owl-theme .owl-nav [class*=owl-].disabled:hover {
  background-color: #D6D6D6;
}

#big.owl-theme {
  position: relative;
}

#big.owl-theme .owl-next, #big.owl-theme .owl-prev {
  background: #333;
  width: 22px;
  line-height: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
}

#big.owl-theme .owl-prev {
  left: 10px;
}

#big.owl-theme .owl-next {
  right: 10px;
}

#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev {
  background: #333;
}

.tagify__dropdown.users-list {
  font-size: 14px;
}
.tagify__dropdown.users-list .tagify__dropdown__item {
  padding: 0.5em 0.7em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
  grid-template-areas: "avatar name" "avatar email";
}
.tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap {
  transform: scale(1.2);
}
.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap {
  grid-area: avatar;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #eee;
  transition: 0.1s ease-out;
}
.tagify__dropdown.users-list img {
  width: 100%;
  vertical-align: top;
}
.tagify__dropdown.users-list strong {
  grid-area: name;
  width: 100%;
  align-self: center;
  font-weight: 500;
}
.tagify__dropdown.users-list span {
  grid-area: email;
  width: 100%;
  font-size: 0.9em;
  opacity: 0.6;
}
.tagify__dropdown.users-list .addAll {
  border-bottom: 1px solid #ddd;
  gap: 0;
}

/* Tags items */
.tagify__tag {
  white-space: nowrap;
}
.tagify__tag:hover .tagify__tag__avatar-wrap {
  transform: scale(1.6) translateX(-10%);
}
.tagify__tag .tagify__tag__avatar-wrap {
  width: 16px;
  height: 16px;
  white-space: normal;
  background: silver;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.12s ease-out;
}
.tagify__tag img {
  width: 100%;
  vertical-align: top;
}

.dark-theme * {
  background: #3F4254 !important;
  color: #f2f3f7 !important;
}

.fw-bolder {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 500 !important;
}

.bg-purple {
  background-color: #8400ff;
}

.text-gray-400 {
  color: #b5b5c3 !important;
}

.text-gray-600 {
  color: #777780 !important;
}

.bg-grey-100 {
  background-color: #eeeeee;
}

.bg-grey-200 {
  background-color: #d9d9d9;
}

.bg-grey-300 {
  background-color: #c1c1c1;
}

.font-style-italic {
  font-style: italic;
}

.callAction {
  background-color: #4a5568;
  border: solid 1px #2f3642;
  color: white;
  border-radius: 5px;
  padding: 16px;
}

/* Commentaire */
.comment_area {
  margin: 0;
  padding-right: 0;
}

.comment_area_header {
  margin-top: 0;
  padding: 4px;
}

.header_actions {
  float: right;
}

.comment_container {
  margin-top: 19px;
}

.comment {
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
  min-height: 80px;
  padding-left: 58px;
  overflow: hidden;
}

.comment_user_avatar {
  position: absolute;
  left: 5px;
  top: 8px;
}

.offline {
  background: linear-gradient(to bottom, #610000 5%, #4c0000 95%);
  filter: none;
}

.offline img {
  background: linear-gradient(to bottom, #4c0000 5%, #bd0909 95%);
}

.online {
  background-color: #58de81;
  background: linear-gradient(to bottom, #53c45c 5%, #45974f 95%);
  filter: none;
}

.online img {
  background: linear-gradient(to bottom, #468f41 5%, #447b3d 95%);
}

.comment_user_avatar img {
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 18px;
  border: none;
}

.comment_content {
  margin-left: 20px;
}

.comment_timestamp {
  font-size: 11px;
  color: #56707f;
  margin-left: 4px;
}

.comment_actions {
  float: right;
  margin-right: 8px;
}

.comment_text {
  font-size: 13px;
  color: #acb2b8;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 400px;
  line-height: 18px;
}

.wave.wave-steam {
  background-color: rgba(27, 40, 56, 0.1) !important;
}

.wave.wave-tfnet {
  background-color: rgba(130, 22, 85, 0.1) !important;
}
