.tagify__dropdown.users-list {
    $avatar-size: 36px;

    font-size: 14px;

    .tagify__dropdown__item {
        padding: 0.5em 0.7em;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 1em;
        grid-template-areas:
            "avatar name"
            "avatar email";

        &:hover .tagify__dropdown__item__avatar-wrap {
            transform: scale(1.2);
        }

        &__avatar-wrap {
            grid-area: avatar;
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;
            overflow: hidden;
            background: #eee;
            transition: 0.1s ease-out;
        }
    }

    img {
        width: 100%;
        vertical-align: top;
    }

    strong {
        grid-area: name;
        width: 100%;
        align-self: center;
        font-weight: 500;
    }

    span {
        grid-area: email;
        width: 100%;
        font-size: 0.9em;
        opacity: 0.6;
    }

    .addAll {
        border-bottom: 1px solid #ddd;
        gap: 0;
    }
}

/* Tags items */
.tagify__tag {
    white-space: nowrap;

    &:hover .tagify__tag__avatar-wrap {
        transform: scale(1.6) translateX(-10%);
    }

    .tagify__tag__avatar-wrap {
        width: 16px;
        height: 16px;
        white-space: normal;
        background: silver;
        border-radius: 50%;
        margin-right: 5px;
        transition: 0.12s ease-out;
    }

    img {
        width: 100%;
        vertical-align: top;
    }
}
